* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variables
$accent-color: #FED238;
$hand-written: "Indie Flower", cursive;

// Global

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: "Roboto", sans-serif;
    height: 200vh;
}

section {
    padding: 50px 0;
}

.section-title {
    text-align: center;
    margin: 62px auto;
    h2 {
        text-transform: uppercase;
        font-size: 32px;
        letter-spacing: 4px;
        padding-bottom: 12px;
    }
    h3 {
        font-family: $hand-written;
        font-size: 18px;
        font-weight: 300;
    }
}

.item-description {
    text-align: center;
    h4 {
        margin: 16px 0;
        font-size: 22px;
    }
    p {
        font-size: 18px;
        font-weight: 300;
    }
}

// Header

header {
    background: linear-gradient(
        rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../images/desk.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        .logo {
            color: $accent-color;
            font-family: $hand-written;
            font-size: 32px;
            letter-spacing: 6px;
        }
        .menu ul {
            list-style: none;
            li {
                display: inline-block;
                padding: 10px 12px;
                a {
                    text-decoration: none;
                    color: #fff;
                    text-transform: uppercase;
                }
            }
        }
    }
    .hero {
        display: flex;
        height: 90vh;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        h1 {
            font-family: $hand-written;
            font-size: 38px;
            margin-bottom: 16px;
        }
        h2 {
            font-size: 52px;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        button {
            background-color: $accent-color;
            border: 1px solid $accent-color;
            padding: 14px 40px;
            font-size: 18px;
            text-transform: uppercase;
            color: #fff;
            cursor: pointer;
            transition: .3s;
            &:hover {
                background-color: transparent;
                border: 1px solid $accent-color;
                color: $accent-color;
            }
        }
    }
}
.services {
    text-align: center;
    .services-list {
        display: flex;
        justify-content: space-between;
        .service-item {
            flex-basis: 30%;
            .item-icon {
                position: relative;
                margin: 0 auto;
                width: 80px;
                height: 80px;
                border: 5px solid $accent-color;
                border-radius: 50%;
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $accent-color;
                    font-size: 32px;
                }
            }
        }
    }
}

section.portfolio {
    background-color: #F7F7F7;
    .portfolio-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .portfolio-item {
            background-color: #fff;
            flex-basis: 30%;
            margin-bottom: 40px;
            .item-photo {
                height: 350px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .item-description {
                padding: 26px;
            }
        }
    }
}

@media (orientation: portrait) {
    header {
        nav {
            text-align: center;
            flex-direction: column;
            .logo {
                font-size: 38px;
            }
        }
    }
    section.services {
        .services-list {
            flex-direction: column;
            .service-item {
                margin-bottom: 28px;
            }
        }
    }    
}
